bin/rr
config/autoload/*local*
data/*
CHANGELOG.md
CONTRIBUTING.md
UPGRADE.md
composer.lock
vendor
docs
indocker
docker-*
phpstan.neon
php*xml*
infection*
**/test*
build*
**/.*
!config/roadrunner/.rr.yml
