config/autoload/*local*
data/infra
data/cache/*
data/log/*
data/locks/*
data/proxies/*
data/migrations_template.txt
data/GeoLite2-City.*
data/database.sqlite
data/shlink-tests.db
**/.gitignore
CHANGELOG.md
composer.lock
vendor
docs
indocker
docker-*
php*
infection.json
phpstan.neon
**/test*
build*
.github
hooks
