config/autoload/*local*
data/infra
data/cache/*
data/log/*
data/locks/*
data/proxies/*
data/migrations_template.txt
data/GeoLite2-City*
data/database.sqlite
data/shlink-tests.db
CHANGELOG.md
CONTRIBUTING.md
UPGRADE.md
composer.lock
vendor
docs
indocker
docker-*
phpstan.neon
php*xml*
infection*
**/test*
build*
**/.*
bin/helper
