.idea
bin/rr
.pid
build
!docker/build
composer.lock
composer.phar
vendor/
data/database.sqlite
data/shlink-tests.db
data/GeoLite2-City.*
data/infra/matomo
docs/swagger-ui*
docs/mercure.html
docker-compose.override.yml
.phpunit.result.cache
docs/swagger/swagger-inlined.json
shlink-dev.local.env
