.idea
bin/rr
.pid
build
!docker/build
composer.lock
composer.phar
vendor/
data/database.sqlite
data/shlink-tests.db
data/GeoLite2-City.*
data/infra/matomo
docs/mercure.html
.phpunit.result.cache
docs/swagger/openapi-inlined.json
config/test/dynamic_test_env.php
