version: '3'

services:
    shlink_php:
        user: 1000:1000
        volumes:
            - /etc/passwd:/etc/passwd:ro
            - /etc/group:/etc/group:ro

    shlink_swoole:
        user: 1000:1000
        volumes:
            - /etc/passwd:/etc/passwd:ro
            - /etc/group:/etc/group:ro

    shlink_db_mysql:
        user: 1000:1000
        volumes:
            - /etc/passwd:/etc/passwd:ro
            - /etc/group:/etc/group:ro

    shlink_db_postgres:
        user: 1000:1000
        volumes:
            - /etc/passwd:/etc/passwd:ro
            - /etc/group:/etc/group:ro

    shlink_db_maria:
        user: 1000:1000
        volumes:
            - /etc/passwd:/etc/passwd:ro
            - /etc/group:/etc/group:ro
