includes:
	- vendor/phpstan/phpstan-symfony/extension.neon
parameters:
	checkMissingIterableValueType: false
	checkGenericClassInNonGenericObjectType: false
	symfony:
		console_application_loader: 'config/cli-app.php'
