parameters:
	ignoreErrors:
		- '#is not subtype of Throwable#'
		- '#ObjectManager::flush()#'
		- '#\$metadata ClassMetadata#'
		- '#Undefined variable: \$metadata#'
		- '#AbstractQuery::setParameters()#'
