<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
    cacheDirectory="build/.phpunit/unit-tests.cache"
    displayDetailsOnTestsThatTriggerWarnings="true"
    displayDetailsOnTestsThatTriggerDeprecations="true"
    displayDetailsOnPhpunitNotices="true"
    displayDetailsOnTestsThatTriggerNotices="true"
>
    <testsuites>
        <testsuite name="Core">
            <directory>./module/Core/test</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory>./module/Rest/test</directory>
        </testsuite>
        <testsuite name="CLI">
            <directory>./module/CLI/test</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./module/*/src</directory>
        </include>
        <exclude>
            <directory>./module/Core/src/Repository</directory>
            <directory>./module/Core/src/**/Repository</directory>
            <directory>./module/Core/src/**/**/Repository</directory>
            <directory>./module/Core/src/Spec</directory>
            <directory>./module/Core/src/**/Spec</directory>
            <directory>./module/Core/src/**/**/Spec</directory>
            <file>./module/Core/src/Visit/Listener/*.php</file>
        </exclude>
    </source>
</phpunit>
