<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/6.5/phpunit.xsd"
    bootstrap="./vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Core">
            <directory>./module/Core/test</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory>./module/Rest/test</directory>
        </testsuite>
        <testsuite name="CLI">
            <directory>./module/CLI/test</directory>
        </testsuite>
        <testsuite name="PreviewGenerator">
            <directory>./module/PreviewGenerator/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./module/*/src</directory>

            <exclude>
                <directory suffix=".php">./module/Core/src/Repository</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
