<phpunit bootstrap="./vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="Common">
            <directory>./module/Common/test</directory>
        </testsuite>
        <testsuite name="Core">
            <directory>./module/Core/test</directory>
        </testsuite>
        <testsuite name="Rest">
            <directory>./module/Rest/test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
