LC_ALL=C
#APP_ENV=dev
#GEOLITE_LICENSE_KEY=

# URL shortener
DEFAULT_DOMAIN=localhost:8800
IS_HTTPS_ENABLED=false

# Database - MySQL
DB_DRIVER=mysql
DB_USER=root
DB_PASSWORD=root
DB_NAME=shlink
#DB_NAME=shlink_foo
DB_HOST=shlink_db_mysql

# Database - Maria
#DB_DRIVER=maria
#DB_USER=root
#DB_PASSWORD=root
#DB_NAME=shlink_foo
#DB_HOST=shlink_db_maria

# Database - Postgres
#DB_DRIVER=postgres
#DB_USER=postgres
#DB_PASSWORD=root
#DB_NAME=shlink_foo
#DB_HOST=shlink_db_postgres

# Database - MSSQL
#DB_DRIVER=mssql
#DB_USER=sa
#DB_PASSWORD=Passw0rd!
#DB_NAME=shlink_foo
#DB_HOST=shlink_db_ms

# Matomo
# Dev matomo instance needs to be manually configured once before enabling the configuration below:
# 1. Go to http://localhost:8003 and follow the installation instructions.
# 2. Open data/infra/matomo/config/config.ini.php and replace `trusted_hosts[] = "localhost"` with
#   `trusted_hosts[] = "localhost:8003"` (see https://github.com/matomo-org/matomo/issues/9549)
# 3. Go to http://localhost:8003/index.php?module=SitesManager&action=index and paste the ID for the site you just
#    created into the `MATOMO_SITE_ID` var below.
# 4. Go to http://localhost:8003/index.php?module=UsersManager&action=userSecurity, scroll down, click
#    "Create new token" and once generated, paste the token into the `MATOMO_API_TOKEN` var below.
# 5. Copy the config below and paste it in a new shlink-dev.local.env file.
MATOMO_ENABLED=false
MATOMO_BASE_URL=http://shlink_matomo
#MATOMO_SITE_ID=
#MATOMO_API_TOKEN=

# Mercure
MERCURE_PUBLIC_HUB_URL=http://localhost:8002
MERCURE_INTERNAL_HUB_URL=http://shlink_mercure_proxy
MERCURE_JWT_SECRET=mercure_jwt_key_long_enough_to_avoid_error

# RabbitMQ
RABBITMQ_ENABLED=true
RABBITMQ_HOST=shlink_rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit
RABBITMQ_PASSWORD=rabbit

# Redis
REDIS_PUB_SUB_ENABLED=true
REDIS_SERVERS=tcp://shlink_redis:6379
