<?php

declare(strict_types=1);

use Psr\Container\ContainerInterface;
use Psr\Log;

return [

    'dependencies' => [
        'lazy_services' => [
            'write_proxy_files' => false,
        ],

        'initializers' => [
            function (ContainerInterface $container, $instance): void {
                if ($instance instanceof Log\LoggerAwareInterface) {
                    $instance->setLogger($container->get(Log\LoggerInterface::class));
                }
            },
        ],
    ],

];
