<?php

declare(strict_types=1);

use Monolog\Level;
use Shlinkio\Shlink\Common\Logger\LoggerType;

$isSwoole = extension_loaded('openswoole');

return [

    'logger' => [
        'Shlink' => [
            // For swoole, send logs as stream
            'type' => $isSwoole ? LoggerType::STREAM->value : LoggerType::FILE->value,
            'level' => Level::Debug->value,
        ],
    ],

];
