<?php

declare(strict_types=1);

/*
 * Dev matomo instance needs to be manually configured once before enabling the configuration below.
 *
 * 1. Go to http://localhost:8003 and follow the installation instructions.
 * 2. Open data/infra/matomo/config/config.ini.php and replace `trusted_hosts[] = "localhost"` with
 *   `trusted_hosts[] = "localhost:8003"` (see https://github.com/matomo-org/matomo/issues/9549)
 * 3. Go to http://localhost:8003/index.php?module=SitesManager&action=index and paste the ID for the site you just
 *    created into the `site_id` field below.
 * 4. Go to http://localhost:8003/index.php?module=UsersManager&action=userSecurity, scroll down, click
 *    "Create new token" and once generated, paste the token into the `api_token` field below.
 */

return [

    'matomo' => [
//        'enabled' => true,
//        'base_url' => 'http://shlink_matomo',
//        'site_id' => '...',
//        'api_token' => '...',
    ],

];
