<?php

declare(strict_types=1);

return [

    'rabbitmq' => [
        'enabled' => true,
        'host' => 'shlink_rabbitmq',
        'port' => '5672',
        'user' => 'rabbit',
        'password' => 'rabbit',
    ],

];
