<?php
declare(strict_types=1);

use Mezzio\Swoole\HotCodeReload\FileWatcher\InotifyFileWatcher;
use Laminas\ServiceManager\Factory\InvokableFactory;

return [

    'mezzio-swoole' => [
        'hot-code-reload' => [
            'enable' => true,
        ],
    ],

    'dependencies' => [
        'factories' => [
            InotifyFileWatcher::class => InvokableFactory::class,
        ],
    ],

];
