<?php

declare(strict_types=1);

use Laminas\ServiceManager\Factory\InvokableFactory;
use Mezzio\Swoole\HotCodeReload\FileWatcher\InotifyFileWatcher;

return [

    'expressive-swoole' => [
        'hot-code-reload' => [
            'enable' => true,
        ],
    ],

    'dependencies' => [
        'factories' => [
            InotifyFileWatcher::class => InvokableFactory::class,
        ],
    ],

];
